.root {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
header {
    min-width: 100%;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0;
}

header h3 {
    color: #f5f5f5;
}

header nav ul {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 960px;
}

main {
    max-width: 960px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 0 auto;
}

li {
    margin: 30px;
}

a {
    font-size: 20px;
}

main ol li {
    padding: 10px;
    margin: 5px;
    background-color: bisque;
    border: brown solid 1px;
    border-radius: 10px;
}

p {
    font-size: 20px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
    margin: 50px auto;
    width: 600px;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

footer {
    min-width: 100%;
    background-color: black;
    color: #f5f5f5
}

.nav-item-wraper {
    display: inline-block;
    margin: 10px;
}

.nav-item {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    text-decoration: none;
    color: #f5f5f5;
    transition: 0.25s ease;
}

.nav-item:hover {
    color: bisque;
    transition: 0.25s ease;
}

.logo {
    width: 25px;
    height: 25px;
    margin: 10px;
}

#aInText {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.imgHref {
    width: 200px;
    height: 200px;
    display: block;
}

.mapHref {
    margin: 100px;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid rebeccapurple;
}

.forms {
    max-width: 255px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
    margin: auto auto;
}

.forms input, select, textarea {
    font-size: 20px;
    margin: 2px;
    background-color: #f5f5f5;
    border: 2px solid burlywood;
    border-radius: 5px;
    max-width: 250px;

}

.chet-item {
    background-color: bisque;
}

#bottom {
    color: transparent;
    background-color: transparent;
    border: none;
}

@media all and (max-width: 960px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
    }

    nav {
        flex-direction: column;
    }

    .nav-wraper {
        margin: 0;
        padding: 0;
    }

    .nav-item-wraper {
        display: block;
        text-align: center;
    }

    main{
        min-width: 100%;
    }
}
